<% provide(:title, @user.name) %>
<div class="row"> <!-- Bootstrap classes: row, span -->
  <aside class="span7">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %><br>
        <%= @user.email %>
      </h1>
    </section>
  </aside>
</div>